html,body {
  /*height: 100%;
  width: 1100px;*/
  background-color: #F5F6F8;
  margin: 0;
}

#navbar {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  float: left;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #404853;
  color: #fff;
}

#navbar h1 {
  font-size: 28px;
}

.navitem {
  text-align: right;
}

.navitem a:link,.navitem a:visited {
  color: #8c9198;
  text-decoration: none;
}

.navitem a:hover {
  color: #fff;
  text-decoration: none;
}

#content{
  float: left;
  padding-left: 250px;
  width: 800px;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#content h1 {
  font-size: 1.4em;
}

#content h2 {
  font-size: 1.2em;
}

code {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}
pre {
  color: #f8f8f2;
  background-color: #171717;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative
}
body{
    height:100% /* force the BODY element to match the height of the HTML element */
}

#navbar{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    overflow:hidden;
}
